<!DOCTYPE html>
<html lang="en">
<head>
    <title>Análise dos Filmes</title>
</head>
<body>
    <h1>Sumário dos dados de filmes</h1>
    <div>  {{resumo|safe}}  </div>
    <br>
    <h1>5 primeiros filmes da lista</h1>
    <div>{{header|safe}}</div>
    <br>
    <h2>Gráficos interativos</h2>
    <ul>
        <li><a href="/plot1">Distribuição de Avaliações dos Filmes</a></li>
        <li><a href="/plot2">Box Plot das Avaliações por Gênero</a></li>
        <li><a href="/plot3">Relação entre Votos, Avaliações e Duração do Filme</a></li>
    </ul>
</body>
</html>